@model Web.Models.Ingrediente

@{
    ViewData["Title"] = "Detalles";
    ViewData["Subtitle"] = "Ver información del ingrediente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="listTitle">
    <div>
        <h1>@ViewBag.Title</h1>
        <h6 class="text-secondary">@ViewBag.Subtitle</h6>
    </div>
    <div>
        <a class="btn btn-outline-secondary" asp-action="Index"><i class="bi bi-arrow-left-circle"></i></a>
    </div>
</div>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
