@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 14px;
    height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding: 10px;
    background-color: #FAFAFA;
    font-family: 'Lato', sans-serif;
}


nav{
    border-radius: 10px;
}

nav .navbar-brand img {
    width: 35px;
    height: 35px;
    filter: invert(1);
}

.listTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-bottom: 2em;
}

.footerx {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-top: 1px solid #ededed;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    background-color: #fafafa;
}


table {
    width: 100% !important;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

    table * {
        position: relative;
    }

    table td, table th {
        padding-left: 8px;
    }

    table thead tr {
        height: 60px;
        background: #ededed;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    }

    table tbody tr {
        font-family: 'Lato', sans-serif;
        height: 48px;
        font-size: 14px;
        border-bottom: 5px solid #fafafa;
    }

        table tbody tr:last-child {
            border: 0;
        }

    table td, table th {
        text-align: left;
    }

        table td.l, table th.l {
            text-align: right;
        }

        table td.c, table th.c {
            text-align: center;
        }

        table td.r, table th.r {
            text-align: center;
        }

@media screen and (max-width: 35.5em) {
    table {
        display: block;
    }

        table > *, table tr, table td, table th {
            display: block;
        }

        table thead {
            display: none;
        }

        table tbody tr {
            height: auto;
            padding: 8px 0;
        }

            table tbody tr td {
                padding-left: 45%;
                margin-bottom: 12px;
            }

                table tbody tr td:last-child {
                    margin-bottom: 0;
                }

                table tbody tr td:before {
                    position: absolute;
                    font-weight: 700;
                    width: 40%;
                    left: 10px;
                    top: 0;
                }
}

th, td {
    padding: 20px;
}