@model Web.Models.UsuarioLogin

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <style>
        body {
            height: 100vh;
            width: 100vw;
            background-image: url(fondo-login.jpg);
            background-size: cover;
            margin: 0;
        }

        main {
            max-width: 500px !important;
            height: 100vh !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center;
        }

        .div-glass {
            padding: 50px;
            background: rgba(99, 99, 99, 0.15);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(99, 99, 99, 0.3);
        }

        .input-glass {
            background: rgba(255, 255, 255, 0.15);
            /*border-radius: 16px;*/
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.17);
        }
        .input-glass:focus{
            background: rgba(255, 255, 255, 0.5);
        }


    </style>
</head>
<body>
    <main class="container-sm">
        <div class="div-glass">
            <div>
                <h1>Recetario</h1>
                <h4>Identificarse</h4>
            </div>

            <form asp-controller="Login" asp-action="Login">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" type="email" placeholder="email@example.com"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Clave" class="form-label">Contraseña</label>
                    <input asp-for="Clave" class="form-control" type="password" placeholder="password"/>
                    <span asp-validation-for="Clave" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-secondary">
                    <i class="bi bi-box-arrow-in-right"></i>
                    Ingresar
                </button>
            </form>
        </div>
    </main>
</body>
</html>
