@model Web.Models.Receta

@{
    ViewData["Title"] = "Editar";
    ViewData["Subtitle"] = "Modificar información de la receta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Edit">
<div class="listTitle">
    <div>
        <h1>@ViewBag.Title</h1>
        <h6 class="text-secondary">@ViewBag.Subtitle</h6>
    </div>
    <div>
        <a class="btn btn-outline-secondary" asp-action="Index"><i class="bi bi-arrow-left-circle"></i></a>
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredientes" class="control-label"></label>
                <select
                    multiple
                    size="10"
                    asp-items="ViewBag.Ingredientes" 
                    name="ingredientes" 
                    id="ingredientes" 
                    class="form-select" >
                </select>
            </div>
    </div>
</div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
